<!-- LOADER -->

<!-- END LOADER -->
<header>
    <div class="header-bottom wow fadeIn">
        <div class="container">
            <nav class="main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Accueil</a></li>
                        <li><a class="active" [routerLink]="'/MonChamps'">Mon champs</a></li>
                        <li><a href="#service">Mon forum</a></li>
                        <li><a href="#doctors">Mes potentiels Acheteurs</a></li>

                        <li><a href="#getintouch">Investisseur</a></li>
                    </ul>
                </div>
            </nav>
            <div class="serch-bar">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Recherche" />
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- end container -->


<!-- end section -->
<div id="time-table" class="time-table-section">
    <div id="service" style="margin-bottom: 67px;" class="services wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="margin-top: 90px;" class="message-box">
                                <h2>Pour dignostiquer votre culture: </h2>
                                <p class="lead">Cette vidéo vous aide à scanner le code QR depuis l'application mobile.</p>

                                <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Plus d'information</a>
                            </div>
                            <!-- end messagebox -->
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="post-media wow fadeIn">
                                <img style="margin-top: 130px;height: 250px;" src="assets/images/pngg.png" alt="" class="img-responsive">
                                <a href="/whatsapp-webclient-login_a0f99e8cbba9eaa747ec23ffb30d63fe.mp4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                            </div>
                            <!-- end media -->
                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="appointment-form forx">
                        <h3><span>+</span> SCANNER ICI</h3>
                        <div class="form">
                            <form class="for" action="index.html">
                                <ngx-qrcode class="qz" qrc-element-type="url" qrc-class="test-class" [qrc-value]="guillaumeNerySmallQR"></ngx-qrcode>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- end row -->
        </div>
    </div>
</div>


<!-- kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->

<div class="esp">
    
</div>